<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<style>
		pre {
			display: block;
			font-family: monospace;
			white-space: pre;
			margin: 1em 0;
		} 
	</style>
</head>
<body>
	<pre>
		{{ results['body-plain'] }}
	</pre>
	{% for name, attachment in results['attachments'].items() %}
	<h1>Results of {{ name }}</h1>
	<h2>Description</h2>
	<pre>
		{{ attachment['description'] }}
	</pre>
	<h2>Traces</h2>
	{% for name, traces in attachment['traces'].items() %}
	<h3>Trace {{ name }}</h3>

	<p>
		Total: {{ attachment['traces'][name]['total_kW'] | round | int }} kW
	</p>

	{% if 'cap' in results['options'] %}
	<p>
		With threshold set to {{ results['options']['cap'] }} kW, total: {{ attachment['traces'][name]['total_capped_kW'] | round | int }} kW
	</p>
	{% endif %}
	{#
	<p>
		{{ attachment['traces'][name]['graph'] }}
	</p>
	#}
	{% endfor %}

	{% endfor %}
</body>
</html>